#menuDiv {
	height: 50px;
	text-align: center;
	line-height: 50px;
}

.title {
	text-align: center;
}

.inputs {
	width: 100%;
	margin-left: 43%;
}

.pics {
	margin-left: 40%;
}

#person2 {
	width: 35%;
	float: left;
}

#person3 {
	margin-left: 35%
}

html{
	background: url(images/background_family.jpg) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;	
	  background-size: cover;
}

#container{
  background:rgba(255,255,255,0.5);
}